{% extends 'website/base.html' %}

{% load static %}

{% block content %}
<script type="text/javascript" src="{% static 'js/swiper/swiperOffer.js' %}" defer></script>
    <header class="header">
        <h3 class="header__subtitle">THE ULTIMATE LUXURY</h3>
        <h1 class="header__title header__title--rest">Our Offers</h1>
        <div class="header__nav">
            <a class="header__nav--home" href="{% url 'home'%}">Home</a>
            <p>|</p>
            <a class="header__nav--actual" href="{% url 'roomsOffer'%}">Offers</a>
        </div>
      </header>
      <section class="offers">
        <div class="offers__items">
          {% if roomsList %}
          {% for room in roomsList %}
          <div class="offers__items--card">
            <a  href="{% url 'roomDetail' room.id %}"><img src="{{room.photos.0}}" alt="roomFake"></a>
            <div class="offers__items--card--info">
                <div class="offers__items--card--info--principal">
                  <div class="offers__items--card--info--principal--text">
                    <h3>{{room.roomType}}</h3>
                    <h1> <a  href="{% url 'roomDetail' room.id %}"> Room {{room.roomNumber}}</a></h1>
                  </div>
                  <div class="offers__items--card--info--principal--price">
                    <h1 class="offers__items--card--info--principal--price--original">{{room.priceNight}} <p>/Night</p></h1>
                    {% for prize in prizeOffer %}
                    {% if prize.id == room.id %}
                    <h1 class="offers__items--card--info--principal--price--offer">${{prize.prize}}<p>/Night</p></h1>
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
                <hr/>
                <div class="offers__items--card--info--description">
                  <div class="offers__items--card--info--description--text">
                    <p class="offers__items--card--info--description--text--desc">{{room.description}}</p>
                    <div class="offers__items--card--info--description--text--have">
                      {% for eachAmenity in room.amenities.all%}
                      <div class="amenities__items--have">
                        {{eachAmenity.amenity}}
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  <a  href="{% url 'roomDetail' room.id %}"><button type="submit" class="offers__items--card--info--description--button">BOOK NOW</button></a>
                </div>
            </div>
          </div>
          {% endfor %}
          {% else %}
          <p>There aren't offers.</p>
          {% endif %}
        </div>
      </section>
      
      <section class="popular">
        <h3 class="popular__subtitle">POPULAR LIST</h3>
        <h1 class="popular__title">Popular Rooms</h1>
        <div class="popular__swiper swiper swiperNav">
          <div class="swiper-wrapper">
            {% if roomsPopular%}
            {%for room in roomsPopular%}
            <div class="popular__swiper--slider swiper-slide">
              <img src="{{room.photos.0}}" alt="roomFake">
              <div class="popular__swiper--slider--have">
                {% for eachAmenity in room.amenities.all%}
                {{eachAmenity.amenity}} |
                {% endfor %}
              </div>
              <div class="popular__swiper--slider--text">
                <h1 class="popular__swiper--slider--text--title">{{room.roomType}}</h1>
                <p class="popular__swiper--slider--text--description">{{room.description}}</p>
                <div class="popular__swiper--slider--text--price">
                  <h1 class="popular__swiper--slider--text--price--cost">{{room.priceNight}} <p>/Night</p></h1>
                  <a class="popular__swiper--slider--text--price--book" href="{% url 'roomDetail' room.id %}">Book Now</a>
                </div>
              </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </section>
      {% endblock %}