{% extends 'website/base.html' %}

{% load static %}


{% block content %}


<section class="order">

  <div class="order__items">

  {% if allOrders %}
  {% for order in allOrders%}

  <div class="order__items--card">
    <div class="order__items--card--text">
      <h1 class="order__items--card--text--title">Order Nº{{order.id}}</h1>
      <p class="order__items--card--text--description">Type Order: {{order.type}}</p>
      <p class="order__items--card--text--description">{{order.description}}</p>
      <a href="{% url 'updateOrder' order.id %}"><button class="button button-block">Edit</button></a>

    </div>
  </div>

  {%endfor%}
  {%else%}

  <p>There aren't orders</p>

{%endif%}
  </div>
  <a  href="{% url 'createOrder'%}"><button type="submit" class="button button-block">Create a order</button></a>
</section>
{% endblock %}