{% extends 'website/base.html' %}

{% load static %}

{% block content %}
<script
type="text/javascript"
src="{% static 'js/room.js' %}"
defer
></script>
    <header class="header">
        <h3 class="header__subtitle">THE ULTIMATE LUXURY</h3>
        <h1 class="header__title header__title--rest">Ultimate Room</h1>
        <div class="header__nav">
            <a class="header__nav--home" href="{% url 'home'%}">Home</a>
            <p>|</p>
            <a class="header__nav--actual" href="{% url 'rooms'%}">Rooms</a>
        </div>
      </header>
      <section class="rooms">
        {% if roomsList %}
        <form class="rooms__select" id="orderForm" method="get">
          {{ order_room.as_p }}
          
         </form>
        <div class="rooms__items">
          {% for room in roomsList %}
          <div class="rooms__items--card">
            <img src="{{room.photos.0}}" alt="roomFake">
            <div class="rooms__items--card--have">
              {% for eachAmenity in room.amenities.all%}
                {{eachAmenity.amenity}} |
              {% endfor %}
            </div>
            <div class="rooms__items--card--text">
              <h1 class="rooms__items--card--text--title">{{room.roomType}}</h1>
              <p class="rooms__items--card--text--description">{{room.description}}</p>
              <div class="rooms__items--card--text--price">
                <h1 class="rooms__items--card--text--price--cost">{{room.priceNight}} <p>/Night</p></h1>
                <a class="rooms__items--card--text--price--book"href="{% url 'roomDetail' room.id %}">Book Now</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <p>There aren't rooms.</p>
        {% endif %}
<div class="rooms__page">
  {% if request.GET %}
    {% if request.GET|length == 1 and 'page' in request.GET %}
      <a {% if pageNumber == 1 %}class="rooms__page--isDisabled"{% endif %} href="{{ request.path }}?page={{ pageNumber|add:'-1' }}"><button class="rooms__page--button"><<</button></a>
      {% for page in pages %}
        <a {% if pageNumber == page %}class="rooms__page--selected"{% endif %} href="{{ request.path }}?page={{ page }}"><button {% if pageNumber == page %}class="rooms__page--selected"{% else %}class="rooms__page--button"{% endif %}>{{page}}</button></a>
      {% endfor %}
      <a {% if pageNumber == totalPages %}class="rooms__page--isDisabled"{% endif %} href="{{ request.path }}?page={{ pageNumber|add:'+1' }}"><button class="rooms__page--button">>></button></a>
    {% else %}
      <a {% if pageNumber == 1 %}class="rooms__page--isDisabled"{% endif %} href="{{ request.get_full_path|slice:'&page=\d+' }}&page={{ pageNumber|add:'-1' }}"><button class="rooms__page--button"><<</button></a>
      {% for page in pages %}
        <a {% if pageNumber == page %}class="rooms__page--selected"{% endif %} href="{{ request.get_full_path|slice:'&page=\d+' }}&page={{ page }}"><button {% if pageNumber == page %}class="rooms__page--selected"{% else %}class="rooms__page--button"{% endif %}>{{page}}</button></a>
      {% endfor %}
      <a {% if pageNumber == totalPages %}class="rooms__page--isDisabled"{% endif %} href="{{ request.get_full_path|cut:'&page='|first}}&page={{ pageNumber|add:'+1' }}"><button class="rooms__page--button">>></button></a>
    {% endif %}
  {% else %}
    <a {% if pageNumber == 1 %}class="rooms__page--isDisabled"{% endif %} href="{{ request.path }}?page={{ pageNumber|add:'-1' }}"><button class="rooms__page--button"><<</button></a>
    {% for page in pages %}
      <a {% if pageNumber == page %}class="rooms__page--selected"{% endif %} href="{{ request.path }}?page={{ page }}"><button {% if pageNumber == page %}class="rooms__page--selected"{% else %}class="rooms__page--button"{% endif %}>{{page}}</button></a>
    {% endfor %}
    <a {% if pageNumber == totalPages %}class="rooms__page--isDisabled"{% endif %} href="{{ request.path }}?page={{ pageNumber|add:'+1' }}"><button class="rooms__page--button">>></button></a>
  {% endif %} 
</div>
</section>
{% endblock %}