{% extends 'website/base.html' %}

{% load static %}

{% block content %}
    <script
    type="text/javascript"
    src="{% static 'js/swiper/swiperRoomDetail.js' %}"
    defer
  ></script>
    <header class="header">
      <h3 class="header__subtitle">THE ULTIMATE LUXURY</h3>
      <h1 class="header__title header__title--rest">Ultimate Room</h1>
      <div class="header__nav">
        <a class="header__nav--home" href="{% url 'home'%}">Home</a>
        <p>|</p>
        <a class="header__nav--actual" href="{% url 'roomDetail' 1 %}"
          >Room Detail</a
        >
      </div>
    </header>
    {% if room %}
    {% for data in room %}
    <section class="statsReserve">
      <div class="statsReserve__stats">
        <div class="statsReserve__stats--firstDescription">
          <div class="statsReserve__stats--firstDescription--text">
            <h3>{{data.roomType}}</h3>
            <h1>Room {{data.roomNumber}}</h1>
          </div>
          <div class="statsReserve__stats--firstDescription--price">
            <h1>
              {{data.priceNight}}
              <p>/Night</p>
            </h1>
          </div>
        </div>

        <img
          class="statsReserve__stats--img"
          src="{{data.photos.0}}"
          alt=""
        />
      </div>

      <div class="statsReserve__reserve">
        <h1 class="statsReserve__reserve--title">Check Availabity</h1>
        <form action="{% url 'createBook' data.id %}" class="statsReserve__reserve--form" method="POST">
          {% csrf_token %} 
          <label class="statsReserve__reserve--form--label"
            >{{form.check_in.label}}
            <div>
              {{form.check_in}}
            </div>
          </label>
          <label class="statsReserve__reserve--form--label"
          >{{form.check_out.label}}
          <div>
            {{form.check_out}}
          </div>
        </label>
          <label class="statsReserve__reserve--form--label"
            >{{form.name.label}}
            <div>
              {{form.name}}
            </div>
          </label>
          <label class="statsReserve__reserve--form--label"
            >{{form.email.label}}
            <div>
              {{form.email}}
            </div>
          </label>
          <label class="statsReserve__reserve--form--label"
            >{{form.phone.label}}
            <div>
              {{form.phone}}
            </div>
          </label>
          <label class="statsReserve__reserve--form--label"
          >{{form.specialRequest.label}}
          <div>
            {{form.specialRequest}}
          </div>
        </label>
          <button
            class="statsReserve__reserve--form--button"
            type="submit"
          >
            CHECK AVAILABILITY
          </button>
        </form>
      </div>
    </section>

    <section class="secondDescription">
      <p class="secondDescription__text">
        {{data.description}}
      </p>
    </section>
    <section class="amenities">
      <h1 class="amenities__title">Amenities</h1>
      <hr class="amenities__line" />
      <div class="amenities__items">
        {% for eachAmenity in data.amenities.all%}
        <div class="amenities__items--have">
            <p>{{eachAmenity.amenity}}</p>
        </div>
        {% endfor%}
      </div>
    </section>

    <section class="userInfo">
      <div class="userInfo__circle">
        <svg
          class="userInfo__check"
          width="14"
          height="10"
          viewBox="0 0 14 10"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M14 1C14 1.25587 13.9023 1.51187 13.707 1.70687L5.70703 9.70687C5.5125 9.90312 5.25625 10 5 10C4.74375 10 4.48813 9.90234 4.29313 9.70703L0.293125 5.70703C0.0978125 5.5125 0 5.25625 0 5C0 4.42875 0.467188 4 1 4C1.25587 4 1.51188 4.09766 1.70688 4.29297L5 7.5875L12.2937 0.29375C12.4875 0.0978125 12.7437 0 13 0C13.5344 0 14 0.428125 14 1Z"
            fill="white"
          />
        </svg>
      </div>
      <img
        class="userInfo__img"
        src="{% static 'assets/img/userImg.jpg' %}"
        alt=""
      />
      <h1 class="userInfo__title">Diego Mompó Redoli</h1>
      <h3 class="userInfo__subtitle">FULLSTACK DEVELOPER</h3>
      <p class="userInfo__description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore.
      </p>
    </section>

    <section class="cancel">
      <h1 class="cancel__title">Cancellation</h1>
      <hr class="cancel__line" />
      <p class="cancel__text">
        {{data.cancellation}}
      </p>
    </section>
    {% endfor %}
    {% else %}
    <h1 class="secondDescription__text">Room not found</h1>
    {% endif %}

    <section class="related">
      <h1 class="related__title">Related Rooms</h1>
      <hr class="related__line" />
      <div class="related__swiper swiper swiperNav">
        <div class="swiper-wrapper">
          {% if relatedRooms%}
          {% for room in relatedRooms%}
          <div class="related__swiper--slider swiper-slide">
            <img src="{{room.photos.0}}" alt="roomFake" />
            <div class="related__swiper--slider--have">
              {% for eachAmenity in room.amenities.all%}
                {{eachAmenity.amenity}} |
              {% endfor %}
            </div>
            <div class="related__swiper--slider--text">
              <h1 class="related__swiper--slider--text--title">
                {{room.roomType}}
              </h1>
              <p class="related__swiper--slider--text--description">
                {{room.description}}
              </p>
              <div class="related__swiper--slider--text--price">
                <h1 class="related__swiper--slider--text--price--cost">
                  {{room.priceNight}}
                  <p>/Night</p>
                </h1>
                <a
                  class="related__swiper--slider--text--price--book"
                  href="{% url 'roomDetail' room.id %}"
                  >Book Now</a
                >
              </div>
            </div>
          </div>
          {% endfor %}
          {% endif %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </section>
    {% endblock %}