{% extends 'website/base.html' %}

{% load static %}

{% block content %}
    <header class="header">
        <h3 class="header__subtitle">THE ULTIMATE LUXURY</h3>
        <h1 class="header__title header__title--rest">Ultimate Room</h1>
        <div class="header__nav">
            <a class="header__nav--home" href="{% url 'home'%}">Home</a>
            <p>|</p>
            <a class="header__nav--actual" href="{% url 'rooms'%}">Rooms</a>
        </div>
      </header>
      <section class="rooms">
        <div class="rooms__items">
          {% if roomsList %}
          {% for room in roomsList %}
          <div class="rooms__items--card">
            <img src="{{room.photos.0}}" alt="roomFake">
            <div class="rooms__items--card--have">
              {% for eachAmenity in room.amenities.all%}
                {{eachAmenity.amenity}} |
              {% endfor %}
            </div>
            <div class="rooms__items--card--text">
              <h1 class="rooms__items--card--text--title">{{room.roomType}}</h1>
              <p class="rooms__items--card--text--description">{{room.description}}</p>
              <div class="rooms__items--card--text--price">
                <h1 class="rooms__items--card--text--price--cost">{{room.priceNight}} <p>/Night</p></h1>
                <a class="rooms__items--card--text--price--book"href="{% url 'roomDetail' room.id %}">Book Now</a>
              </div>
            </div>
          </div>
          {% endfor %}
          {% else %}
          <p>There aren't rooms.</p>
          {% endif %}
        </div>
        <div class="rooms__page">
          {% if request.GET.checkin and request.GET.checkout %}
            <a href="{{  request.path }}?checkin={{ request.GET.checkin }}&checkout={{ request.GET.checkout }}&page={{pageNumber|add:'-1'}}"><button><<</button></a>
          {% for page in pages %}
              <a href="{{  request.path }}?checkin={{ request.GET.checkin }}&checkout={{ request.GET.checkout }}&page={{page}}" active><button>{{page}}</button></a>
            {% endfor %}
          <a href="{{  request.path }}?checkin={{ request.GET.checkin }}&checkout={{ request.GET.checkout }}&page={{pageNumber|add:'+1'}}"><button>>></button></a>
          {% else %}
          <a href="{{  request.path }}?page={{pageNumber|add:'-1'}}"><button><<</button></a>
          {% for page in pages %}
            <a href="{{  request.path }}?page={{page}}" active><button>{{page}}</button></a>
          {% endfor %}
          <a href="{{  request.path }}?page={{pageNumber|add:'+1'}}"><button>>></button></a>
          {% endif %}
        </div>
      </section>
      {% endblock %}