.order {
    margin-top: 3.75rem;
    text-align: center;
    margin-bottom: 7.5em;
  
    &__items {
      width: 23.4375em;
      margin: 0 auto;

  
      @include desktop(){
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        max-width: 73.125em;
      }
  
      &--card {
        width: 89.3%;
        margin: 0 auto;
        padding-bottom: 1.625em;
        padding-top: 1.625em;
        box-shadow:0 0px 10px 8px rgba($seventh-color,0.5);
        margin-bottom: 1.5rem;
  
        @include desktop(){
          width: 23.125em;
          margin-top: 1.5rem;

        }
        &--text {
          width: 89%;
          margin: 0 auto;
  
          &--title {
            font-size: 1.5rem;
            font-weight: 400;
            font-family: "Old Standard TT";
            padding-bottom: 0.667em;
          }
          &--description {
            font-size: 0.875rem;
            font-family: "Roboto";
            line-height: 1.714em;
            color: $sixth-color;
          }
            &--edit {
              font-size: 1rem;
              color: $thirteenth-color;
              text-decoration: none;
              font-weight: 700;
  
              &:hover{
                font-size: 1.25rem;
              }
            }
        }
      
      }
    }

    & button {
      border: 0;
      outline: none;
      border-radius: 0;
      padding: 0.9375em 0.9375em;
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 0.2em;
      font-family: "Archivo";
      background: $main;
      color: $white;
      margin-top: 0.714em;

      &:hover,
      &:focus {
        background: $main-dark;
      }

      &-block {
        display: block;
        width: 100%;
      }
    }
     
    & p {
      font-size: 1.5rem;
      font-weight: 400;
      font-family: "Old Standard TT";
      padding-bottom: 0.667em;
      margin: 0 auto;
      margin-top: 1em;
    }

}

