

$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;

$main: $third-color;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 0.25rem;

*, *:before, *:after {
  box-sizing: border-box;
}

.form {

  padding: 2.5rem;
  max-width:37.5rem;
  margin:2.5rem auto;
  border-radius:$br;
  box-shadow:0 4px 10px 4px rgba($form-bg,.3);

  @include desktop(){
    margin-top: 6.25rem;
  }

  &a {
    text-decoration:none;
    color:$main;
    transition:.5s ease;
    &:hover {
      color:$main-dark;
    }
  }

  &__tabGroup {
    list-style:none;
    padding:0;
    margin:0 0 2.5rem 0;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    li a {
      display:block;
      text-decoration:none;
      padding:0.75em;
      background:rgba($thirteenth-color,.25);
      color:$sixth-color;
      font-size:1.25rem;
      float:left;
      width:50%;
      text-align:center;
      cursor:pointer;
      transition:.5s ease;
      &:hover {
        background:$main-dark;
        color:$white;
      }
    }
    .active a {
      background:$main;
      color:$white;
    }
  }
  &__tabContent {

    & h1{
      text-align:center;
      color:$fourth-color;
      font-weight:$thin;
      margin:0 0 2.5rem;
    }
    & label {
      position:absolute;
      transform:translateY(0.27em);
      left:0.59em;
      color:rgba($second-color,.5);
      transition:all 0.25s ease;
      -webkit-backface-visibility: hidden;
      pointer-events: none;
      font-size:1.375rem;
      .req {
        margin:0.09em;
        color:$main;
      }
    }
  
  & label.active {
    transform:translateY(3.57em);
    left:0.142em;
    font-size:0.875rem;
    .req {
      opacity:0;
    }
  }
  
  & label.highlight {
    color:$fourth-color;
  }
  
  & input, textarea, select{
    font-size: 0.875rem;
    font-family: "Archivo";
    padding: 0 2.143em;
    width: 100%;
    height: 4.286em;
    border: none;
    background-color: $ninth-color;
    border:1px solid $fifth-color;
    color:$fourth-color;
    border-radius:0;
    transition:border-color .25s ease, box-shadow .25s ease;
    &:focus {
      outline:0;
      border-color:$main;
    }
  }
  
  & textarea {
    border:2px solid $tenth-color;
    resize: vertical;
  }
  
  & button {
    border:0;
    outline:none;
    border-radius:0;
    padding:0.9375rem 0;
    font-size:2rem;
    font-weight:$bold;
    text-transform:uppercase;
    letter-spacing:.1em;
    background:$main;
    color:$white;
    -webkit-appearance: none;
    &:hover, &:focus {
      background:$main-dark;
    }
    &-block {
      display:block;
      width:100%;
    }
  }

}

.field-wrap {
  position:relative;
  margin-bottom:2.5rem;
}

.top-row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > div {
    float:left;
    width:48%;
    margin-right:4%;
    &:last-child { 
      margin:0;
    }
  }
}


.button-block {
  display:block;
  width:100%;
}

.forgot {
  margin-top:-1.25rem;
  text-align:right;
}
}
